/*================================
    RTL CSS START
================================*/
* {
    direction: rtl;
    text-align: right;
}

.slick-list {
    direction: ltr;
}




























































































































/*================================
    RTL CSS END
================================*/